
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Réference </th>
            <th>Quantité </th>
            <th>Prix unitaire </th>
            <th></th>
            <th><button type="button" class="btn btn-warning"><i class="fa fa-plus-circle" aria-hidden="true"></i></button></th>
        </thead>
        <tbody>
          <tr *ngFor="let produit of produits">
            <td>{{produit.ref}}</td>
            <td>{{produit.quantite}}</td>
            <td>{{produit.prixUnitaire}}</td>
            <td><button type="button" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i>
            </button></td>
            <td><button type="button" class="btn btn-warning"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-lg-7 mt-3">
      <form class="row g-3 needs-validation shadow-lg p-3 mb-5 bg-body rounded"
        [formGroup]="produitForm">
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Réference</label>
          <input type="text" class="form-control"  placeholder="Votre produit ..." formControlName="ref">
          <div class="alert alert-danger mt-4 " style="height: 50px; font-size: small; " role="alert"
            *ngIf="produitForm.controls['ref'].invalid && (produitForm.controls['ref'].touched || produitForm.controls['ref'].dirty)">
            Réference est obligatoire !
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Quantité</label>
          <input type="number" class="form-control"  placeholder="Quantité.." min="0" formControlName="quantite">
          <div class="alert alert-danger mt-4 " style="height: 50px; font-size: small; " role="alert"
            *ngIf="produitForm.controls['quantite'].invalid && (produitForm.controls['quantite'].touched || produitForm.controls['quantite'].dirty)">
            Quantité est obligatoire !
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Prix Unitaire</label>
          <div class="input-group has-validation">
            <span class="input-group-text" >$</span>
            <input type="number" class="form-control"  placeholder="Prix.." min="0" formControlName="prixUnitaire">
            <div class="alert alert-danger mt-4 " style="height: 50px; font-size: small; " role="alert"
            *ngIf="produitForm.controls['prixUnitaire'].invalid && (produitForm.controls['prixUnitaire'].touched || produitForm.controls['prixUnitaire'].dirty)">
            prix unitaire est obligatoire !
          </div>
          </div>
        </div>

        <div class="col-12">

          <button class="btn btn-dark" type="submit"
           [disabled]="produitForm.pristine || produitForm.invalid"
             (click)="addProduit()">
             Envoyer
            </button>
        </div>
      </form>
    </div>

  </div>
</div>

